/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

.headshot {
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  max-width: 300px;
  margin:auto;
}
