/* color scheme varaibles example */
    /* --color-primary: #2584ff; */
    /* --color-secondary: #00d9ff; */
    /* --color-accent: #ff3400; */
    /* --color-headings: #1b0760; */
    /* --color-body: #918ca4; */
    /* --color-body-darker: #5c5577; */
    /* --color-border: #ccc; */
    /* --border-radius: 30px; */
/* unvisited link */

#theme-toggle {
  border-radius: 25%;
  background: none;
  padding: 4.5px;
  border: 1.5px solid var(--color-text-light);
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

.headshot {
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  max-width: 300px;
  margin:auto;
}
