/* color scheme */

:root {
  /* gobal colors */
  --color-primary: #376691;
  --color-grey-light: #c9c9c9;
  --color-grey-dark: #7b7b7b;
  --color-white: #ffffff;
  --color-shadow: #0003;

  /* light mode */
  --color-background-light: #ffffff; 
  --color-text-light: #121212;
  --color-primary-light: #376691;

  /* dark mode */
  --color-background-dark: #1e2633;
  --color-text-dark: #ffffff;
  --color-primary-dark: #376691;
}

/* html */

html {
  font-size: 100%;
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}

html.dark {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
}

/* body */

body {
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 25px 50px;
  max-width: 1200px;
  margin: auto;
}

/* main */

main {
  max-width: 80ch;
  margin: auto;
}

/* paragraph */

p {
  font-size: 1.2rem;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4rem;
  margin: 0 0 1rem;
  padding: 0;
  word-wrap: break-word;
}

h1 {
  font-size: 2.2rem;
  line-height: 2.6rem;
}


h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.txt-center {
  text-align: center;
}

/* lists */

ul,
ol {
  margin: 0 0 1.5rem 2rem;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.nav-margins {
  margin: 0;
  padding: 0;
}

/* input & textarea */

input {
  color: var(--color-text-light);
  background-color: var(--color-text-dark);
  border-radius: .4rem;
  padding: .3rem .8rem;
}

input::placeholder {
  color: var(--color-grey-dark);
}

textarea {
  background-color: var(--color-text-dark);
  border-radius: .4rem;
  padding: .3rem .8rem;
}

textarea::placeholder {
  color: var(--color-grey-dark);
  color: var(--color-grey-dark);
}

/* links */

/* all links */

a {
  color: var(--color-text-light);
  text-decoration: none;
}

.dark a {
    border-color: var(--color-text-dark);
    color: var(--color-text-dark);
}

.dark .nav-links {
    border-color: var(--color-text-dark);
    color: var(--color-text-dark);
}

/* tab selected links */
a:focus-visible {
  padding: 3px;
  background-color: var(--color-grey-light);
}

/* mouse over link */
a:hover {
  color: var(--color-grey-dark);
  text-decoration: underline;
}

/* when you click on it */
a:active {
  color: var(--color-grey-dark);
  text-decoration: underline;
  background: none;
}

/* images */

/**
 * Prevent img, video, and svg elements from spilling outside of the page on smaller screens.
 */
img,
video,
svg {
    max-width: 100%;
}

img,
video {
    height: auto;
}

.headshot {
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: block;
    margin: auto;
}

/* nav */

/* theme toggle switch */
#theme-toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  background: var(--color-grey-dark);
  height: 1.65rem;
  width: 2.75rem;
  vertical-align: middle;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px var(--color-shadow) inset;
  transition: 0.25s linear background;
}

input::before {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background: var(--color-white);
  border-radius: 1.2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  box-shadow: 0px 1px 3px var(--color-shadow);
  transition: 0.25s linear transform;
  transform: translateX(0rem);
}

#theme-toggle :checked {
  background: var(--color-grey-light);
}

#theme-toggle :checked::before {
  transform: translateX(1rem);
}

.dark #theme-toggle {
  color: var(--color-text-dark);
}

/* nav elements */

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 1rem;
}

.container-nav-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.list-nav {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

.list-item {
  padding: 0 .6rem;
}
.container-nav-title {
  margin: auto;
  margin-bottom: .4rem;
}

.container-nav-theme {
  margin: auto;
  margin-bottom: .23rem;
}

.list-nav {
  align-items: center;
  list-style: none;
  margin: auto;
  line-height: 1.3;
}

.title-nav {
  align-items: center;
  margin: auto;
  font-weight: 550;
  font-size: 1.3rem;
  padding-bottom: 6px;
}

/* nav styles for tablet & desktop */

@media screen and (min-width: 750px) {

  /* adjust padding */
  .title-nav {
    padding-bottom: 0;
  }

  /* nav container */

  .container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
  }

  .container-nav-theme {
    padding-left: 1rem;
    margin: 0%;
  }

  .container-nav-title {
    margin: 0%;
    margin-top: .1rem;
  }

  .container-nav-list {
    display: flex;
    flex-direction: row;
    margin: 0%;
  }

  /* nav list */

  .list-nav {
    list-style: none;
    display: flex;
    column-gap: 1rem;
    margin-top: .18rem;
  }

}

/* form container */

.container-form {
  margin: 20px;
  padding: 15px;
  border: 2px solid var(--color-text-light);
  border-radius: .5rem;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.dark .container-form {
  border: 1.5px solid var(--color-text-dark);
}

/* form input fields */

.field-form {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

/* buttons */

button,
.btn {
  background-color: var(--color-primary);
  border: 0.125rem solid var(--color-primary);
  border-radius: 0.25rem;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem;
  padding: 0.5rem 0.6875rem;
}

.dark button {
  border-color: var(--color-text-dark);
}

button:hover,
button:active,
.btn:hover,
.btn:active {
  background-color: var(--color-white);
  border-color: var(--color-grey-dark);
  color: var(--color-text-light);
  text-decoration: none;
}

.btn-center {
  display: table;
  margin: auto;
}

.dark button:hover,
.dark .btn:hover,
.dark button:active,
.dark .btn:active {
  color: var(--color-text-light);
  background-color: var(--color-white);
}

.btn:hover,
.btn:active {
  color: var(--color-text-light);
  background-color: var(--color-white);
  border-color: var(--color-grey-dark);
}

.margin-bottom-sm {
  margin-bottom: 0.8px;
}

.container-button {
  display: flex;
  justify-content: center;
}

/* footer */

.ul-centered {
  margin: 0%;
}

.footer-main {
  max-width: fit-content;
  margin: auto;
  margin-bottom: .5rem;
}

.footer-list {
  list-style: none;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
  line-height: 1.3;
  text-align: center;
}
