/* html */

html {
    font-size: 100%;
}

/* body */

body {
	font-family: sans-serif;
	font-size: 1.2rem;
	padding: 25px 50px;
	max-width: 1200px;
	margin: auto;
}

/* lists */

ul,
ol {
	margin: 0 0 1.5rem 2rem;
	padding: 0;
}

li {
	margin-bottom: 0.5rem;
}
/* links */

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

/* paragraph */

p {
	font-size: 1.2rem;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4rem;
	margin: 0 0 1rem;
	padding: 0;
	word-wrap: break-word;
	text-align: center;
}

h1 {
	font-size: 2.2rem;
}


h2 {
	font-size: 1.8rem;
	text-align: left;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
}

.h2-centered {
	text-align: center;
}

/* images */

.headshot {
	padding: 1rem;
	padding-top: 0rem;
	padding-bottom: 2rem;
	max-width: 300px;
	margin:auto;
}

/* main element */

main {
	max-width: 80ch;
	margin: auto;
}

/* nav */

.container-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	column-gap: 1rem;
}

.container-nav-title {
	margin: auto;
}

.container-nav-list {
	margin: auto;
}

.list-nav {
	list-style: none;
	margin: auto;
	line-height: 1.3;
}

.title-nav {
	margin: auto;
	font-weight: 550;
	font-size: 1.3rem;
	padding-bottom: 6px;
}

/* form container */

.container-form {
	margin: 20px;
	padding: 15px;
	border: 2px solid black;
	border-radius: .5rem;
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
}

/* form field */

.field-form {
	margin: 15px;
	display: flex;
	flex-direction: column;
}

/* footer */

.footer {
	max-width: fit-content;
	margin: auto;
}

/* buttons */

button {
	background-color: #0088cc;
	border: 0.125rem solid #0088cc;
	border-radius: 0.25rem;
	color: #ffffff;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.2;
	margin-right: 0.3125rem;
	margin-bottom: 0.3125rem;
	padding: 0.5em 0.6875rem;
}

button:hover,
button:active {
	background-color: #f7f7f7;
	border-color: #808080;
	color: #272727;
}

.blog-title {
	margin-bottom: 0.8px;
}

.container-button {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 600px) {

.headshot {
	padding: 1rem;
	padding-top: 0rem;
	padding-bottom: 2rem;
	max-width: 550px;
	margin:auto;
}
/* nav container */

.container-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 1rem;
}

.container-nav-title {
	margin: 0%;
}

.container-nav-list {
	margin: 0%;
}

/* nav lists */

.list-nav {
	list-style: none;
	display: flex;
	column-gap: 1rem;
}
