/* html */

html {
    font-size: 100%;
}

/* body */

body {
	font-family: sans;
	font-size: 1.2rem;
	padding: 25px 50px;
}

/* lists */

ul,
ol {
	margin: 0 0 1.5rem 2rem;
	padding: 0;
}

li {
	margin-bottom: 0.5rem;
}
/* links */

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

/* paragraph */

p {
	font-size: 1.2rem;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	margin: 0 0 1em;
	padding: 0;
	word-wrap: break-word;
	text-align: center;
}

h1 {
	font-size: 2.2rem;
}


h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

/* images */

img {
	padding: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* main body */

.main {
	max-width: 80ch;
}

/* nav container */

.container-nav {
	display: flex;
	justify-content: space-between;
	column-gap: 1rem;
}

/* form container */

.container-form {
	margin: 20px;
	padding: 15px;
	border: 2px solid black;
	border-radius: .5rem;
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
}

/* form field */

.field-form {
	margin: 15px;
	display: flex;
	flex-direction: column;
}

/* inline lists */

.list-inline {
	list-style: none;
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

/* buttons */

button {
	background-color: #0088cc;
	border: 0.125rem solid #0088cc;
	border-radius: 0.25rem;
	color: #ffffff;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.2;
	margin-right: 0.3125rem;
	margin-bottom: 0.3125rem;
	padding: 0.5em 0.6875rem;
}

button:hover,
button:active {
	background-color: #f7f7f7;
	border-color: #808080;
	color: #272727;
}

.container-button {
	display: flex;
	justify-content: center;
}
