---
// component import
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import silhouette from "../assets/silhouette.svg";
---

<MainLayout title="About" description="About Page">
  <section>
    <div class="flex flex-col">
      <h1 class="text-center text-4xl my-10">About</h1>
      <Image
        src={silhouette}
        alt="Headshot"
        class="mx-auto mb-14 mb-10"
        width={200}
        height={330}
      />
      <p class="text-xl px-10 pb-5 max-w-3xl mx-auto">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea cupiditate
        maiores assumenda est, facilis, doloremque eius consequatur illum iusto
        a officiis esse velit veniam expedita labore itaque sit facere
        reprehenderit? Vitae repudiandae quod est? Nemo quia cupiditate atque
        totam deleniti.
      </p>
      <a
        class="py-1.5 px-2 m-10 border rounded-md bg-slate-400 self-center"
        href="mailto:sample-email-address@gmail.com"
        >Contact Me
      <a />
    </div>
  </section>
</MainLayout>
