---

// component import
import MainLayout from "../layouts/MainLayout.astro";
import { Picture } from "astro:assets";
import headshot from "../assets/headshot.jpg";

// variables
const title = "Contact"
---
<MainLayout title={title}>
  <section>
    <h1 class="text-center text-4xl my-20">{title}</h1>
    <div class="mx-4">
      <Picture
        src={headshot}
        alt="Headshot"
        class="mx-auto mb-14 mb-10 rounded-md"
        width={headshot.width / 3}
        densities={[1, 1.5, 2]}
        formats={["webp", "avif", "jpg"]}
      />
    </div>
    <div class="my-20">
      <p class="text-xl px-10 mb-10 max-w-3xl mx-auto">
       Feel free to reach out if you're interested in discussing websites, web development, digital publishing, or design, or if you're interested in working together on a project. 
      </p>
    </div>
    <form id="form" action="https://form-processing.davelongdev.workers.dev" method="post" class="flex justify-center">
      <div class="border border-black rounded-md p-6 mb-20">
        <h2 class="text-2xl text-center mt-2 mb-5">Contact Me</h2>
        <div class="my-2">
          <label class="block text-xl" for="first_name">First Name</label>
          <input id="first_name" name="first_name" type="text" placeholder="john..." class="border border-black rounded mb-3 mt-1 min-w-80 px-2 py-1"/>
        </div>
        <div class="my-2">
          <label class="block text-xl" for="last_name">Last Name</label>
          <input id="last_name" name="last_name"  type="text" placeholder="smith..." class="border border-black rounded mb-3 mt-1 min-w-80 px-2 py-1"/>
        </div>
        <div class="my-2">
          <label class="block text-xl" for="email">Email</label>
          <input id="email" name="email" type="text" placeholder="address@gmail.com" class="border border-black rounded mb-3 mt-1 min-w-80 px-2 py-1"/>
        </div>
        <div class="my-2">
          <label class="block text-xl" for="message">Message</label>
          <textarea id="message" name="message" type="text" placeholder="sample message..." class="border border-black rounded mb-3 mt-1 min-w-80 px-2 py-1"></textarea>
        </div>
        <div class="text-center mt-3">
          <button id="submit" name="submit" type="submit" class="py-1.5 px-2 mx-2 border rounded-md bg-slate-400">Submit</button>
        </div>
        <div id="statusElem"role=status></div>
      </div>
    </form>
  </section>
</MainLayout>

<script>

// listen for submit event
form.addEventListener('submit', function (event) {

  // get form
  let form = document.querySelector('form');

  // set 'action' varialbe to the form's action - here the worker url
  let action = form.action;

  // set 'method' variable to the form's method - here 'post'
  let method = form.method;

  // create formdata object (different than regular js object)
  let fdObject = new FormData(form);
  console.log(fdObject)

  // serialize formdata object into regular object
  let dataObject = Object.fromEntries(fdObject);
  console.log(dataObject)
  // prevent default form behavior, i.e., send post request to action url
  event.preventDefault();

  // update status element
  statusElem.textContent = 'Sending your message...';

  // fetch request
  fetch(action, {
    method: method,
    body: JSON.stringify({dataObject}),
    headers: {
      'Content-type': 'application/json',
    }
  }).then(function (response) {
    if (response.ok) {
      statusElem.textContent = 'Message sent.';
      form.reset();
      return response.json();  
    } else {
       statusElem.textContent = 'Something went wrong. Please try again.';
    }
  }).then(function (data) {
    console.log(data);
  }).catch(function (error) {
    console.warn(error);
});

  ;

});

</script>

<!-- <script> -->
<!--   fetch('https://form-processing.davelongdev.workers.dev').then(function (response) { -->
<!--     if (response.ok) { -->
<!--         return response.json(); -->
<!--     } -->
<!--     throw response.status; -->
<!--     }).then(function (data) { -->
<!--         console.log(data); -->
<!--     }).catch(function (error) { -->
<!--         console.warn(error); -->
<!--     }); -->
<!-- </script> -->
