---

// component import
import MainLayout from "../layouts/MainLayout.astro";
import { Picture } from "astro:assets";
import headshot from "../assets/headshot.jpg";

// variables
const title = "Contact"
---
<MainLayout title={title}>
  <section>
    <h1 class="text-center text-4xl my-20">{title}</h1>
    <div class="mx-4">
      <Picture
        src={headshot}
        alt="Headshot"
        class="mx-auto mb-14 mb-10 rounded-md"
        width={headshot.width / 3}
        densities={[1, 1.5, 2]}
        formats={["webp", "avif", "jpg"]}
      />
    </div>
    <div class="my-36">
      <p class="text-xl px-10 mb-10 max-w-3xl mx-auto">
       Feel free to reach out if you're interested in discussing websites, web development, digital publishing, or design, or if you're interested in working together on a project. 
      </p>
    </div>
  </section>
</MainLayout>
