---

// component import
import MainLayout from "../layouts/MainLayout.astro";
import { Picture } from "astro:assets";
import headshot from "../assets/headshot.jpg";

// variables
const title = "Contact"
---
<MainLayout title={title}>
  <section>
    <h1 class="text-center text-4xl my-20">{title}</h1>
    <div class="mx-4">
      <Picture
        src={headshot}
        alt="Headshot"
        class="mx-auto mb-14 mb-10 rounded-md"
        width={headshot.width / 3}
        densities={[1, 1.5, 2]}
        formats={["webp", "avif", "jpg"]}
      />
    </div>
    <div class="my-20">
      <p class="text-xl px-10 mb-10 max-w-3xl mx-auto">
       Feel free to reach out if you're interested in discussing websites, web development, digital publishing, or design, or if you're interested in working together on a project. 
      </p>
    </div>
    <form action="" class="flex justify-center">
      <div class="border border-black rounded-md p-6 mb-20">
        <h2 class="text-2xl text-center mt-2 mb-5">Contact Me</h2>
        <div class="my-2">
          <label class="block text-xl" for="first-name">First Name</label>
          <input id="first-name" name="first-name" type="text" class="border border-black rounded mb-3 mt-1 min-w-80"/>
        </div>
        <div class="my-2">
          <label class="block text-xl" for="last-name">Last Name</label>
          <input id="last-name" name="last-name"  type="text" class="border border-black rounded mb-3 mt-1 min-w-80"/>
        </div>
        <div class="my-2">
          <label class="block text-xl" for="email">Email</label>
          <input id="email" name="email" type="text" class="border border-black rounded mb-3 mt-1 min-w-80"/>
        </div>
        <div class="my-2">
          <label class="block text-xl" for="message">Message</label>
          <textarea id="message" name="name" type="text" class="border border-black rounded mb-3 mt-1 min-w-80"/>
        </div>
        <div class="text-center mt-3">
          <button id="submit" name="submit" type="submit" class="py-1.5 px-2 mx-2 border rounded-md bg-slate-400">Submit</button>
        </div>
      </div>
    </form>
  </section>
</MainLayout>
