<main>

<h1 class="txt-center txt-margin-bottom">{{ .Title }}</h1>

{{ .Content }}


{{ $var1 := page.Title }}
{{ $var2 := "Categories" }}

{{ if not (eq $var1 $var2) }}

  {{ range.Data.Pages }}

    <article>

      <h3 class="margin-bottom-sm">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>

    {{ partial "taxonomy-block.html" . }}

    <br>

    </article>

  {{ end }}

{{ else}}

  <div class='taxonomy-cloud'>

    {{ range.Data.Pages }}

      <a href="{{ .RelPermalink }}" class='btn taxonomy-items'>{{ .Title }}</a>

    {{ end }}
  
  </div>

  <br>

{{ end }}

</main>
