<hr>
<br>
<p>FOOTER CONTENT</p>
<script>

// listen for submit event
form.addEventListener('submit', function (event) {

  // get form
  let form = document.querySelector('form');

  // set 'action' varialbe to the form's action - here the worker url
  let action = form.action;

  // set 'method' variable to the form's method - here 'post'
  let method = form.method;

  // create formdata object (different than regular js object)
  let fdObject = new FormData(form);
  // console.log(fdObject)

  // serialize formdata object into regular object
  let dataObject = Object.fromEntries(fdObject);
  // console.log(dataObject)
  // prevent default form behavior, i.e., send post request to action url
  event.preventDefault();

  // update status element
  statusElem.textContent = 'Sending your message...';

  // fetch request
  fetch(action, {
    method: method,
    body: JSON.stringify(dataObject),
    headers: {
      'Content-type': 'application/json',
    }
  }).then(function (response) {
    if (response.ok) {
      statusElem.textContent = 'Message sent.';
      form.reset();
      return response.json();  
    } else {
       statusElem.textContent = 'Something went wrong. Please try again.';
    }
  }).then(function (data) {
    console.log(data);
  }).catch(function (error) {
    console.warn(error);
});

  ;

});

</script>
