<head>
	<meta charset="UTF-8">
	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<meta
		name="description" 
		content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}"
		>
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">

	<!-- Icons -->
	<link rel="shortcut icon" type= "image/svg" href="{{ "/favicon.svg" }}">

	<!-- Internet Explorer Backwards Compatability -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Mobile Screen Resizing -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- OpenGraph Tags -->
	<meta property="og:title" content="davelongwebstudio.com" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://davelongwebstudio.com/" />
	<meta property="og:locale" content="en" />
	<meta
		property="og:description"
		content="Building Web Sites: Web Development & Design, Content Generation, Copywriting, SEO & Performance Optimization, Accessibility."
	/>
	<meta property="og:site_name" content="Dave Long Web Studio" />
	<meta property="og:image" content="https://davelongwebstudio.com/favicon.svg" />
	<meta property="og:image:alt" content="Dave Long Web Studio | Web Site Services & Maintenance" />
</head>
