<nav class='container-nav'>
  <div class='container-nav-title nav-margins'>
    <a href="{{ .Site.BaseURL }}" class="title-nav">
      {{ .Site.Title }}
    </a>
  </div>
  <div class='container-nav-list'>
    <ul class='list-nav'>
      {{ range.Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <div class='container-nav-theme'>
      <label id="theme-toggle">
        <input type="checkbox"/>
      </label>
    </div>
  </div>
</nav>
