---
// component imports
import Seo from "../components/Seo.astro" 

// props imports
const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/home.svg" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content={Astro.generator} />
  <title>Dave Long Web Studio</title>
  <meta name="description" content="Dave Long Web Studio specilized in producing fast and beautiful websites.  Reach out if you need to build a website from scratch or if you need help optimizig your existing site."/>
  <Seo    
  { title }
  { description }
  url = { Astro.url }
  { image }
  { frontmatter }
  { robots }
/>
</head>
