<div class="container-form" style='margin-top: 1.5rem'>
	<form id="form" action="https://web-studio.davelongdev.workers.dev" method="post">
		<div>
			<h2 class='txt-center'>Contact Me</h2>
			<div class="field-form">
				<label for="first_name">First Name</label>
				<input id="first_name" name="first_name" type="text" placeholder="First... "/>
			</div>
			<div class="field-form">
				<label for="last_name">Last Name</label>
				<input id="last_name" name="last_name"  type="text" placeholder="Last..."/>
			</div>
			<div class="field-form">
				<label for="email">Email</label>
				<input id="email" name="email" type="text" placeholder="address@gmail.com"/>
			</div>
			<div class="field-form">
				<label for="message">Message</label>
				<textarea id="message" name="message" type="text" placeholder="Sample message..."></textarea>
			</div>
			<div class="container-button">
				<button id="submit" name="submit" type="submit">Submit</button>
			</div>
			<div id="statusElem" role=status></div>
		</div>
	</form>
</div>
